@charset "utf-8";
/* CSS Document */
#container{
    width:1200px;
    height:600px;
    float:left;
    margin-top: 100px;
    
}
#title1,#title2{
	margin-left:70px;
	font-size:16px;
	margin-top:10px;
}
#con1,#con2{
	margin-left:70px;
}
#picture{
	margin-top:15px;
	margin-left:450px;}
