@charset "utf-8";
/* CSS Document */

#container{
    width:1200px;
    height:675px;
    float:left;
}
#index_about{
    width:60px;
    height:30px;
    margin-left:1000px;
    margin-top:20px;
    margin-right:50px;
    float:left;
}
#index_contact{
    width:60px;
    height:30px;
    margin-left:20px;
    margin-top:20px;
    float:left;
}
#title
{
	color:#FFF;
	text-align:center;
	font-size: 36px;
}
#picture{
	width:1100px;
	height:400px;
	margin-left:150px;
	/*background-color:#000;*/
	text-align:center;
	}
<<<<<<< HEAD
#picture1
{
	padding-left:10px;
	width: 250px;
=======
#picture1,#picture2,#picture3,#picture4
{
	padding-left:10px;
	width: 240px;
>>>>>>> refs/remotes/origin/10130340223
	height: 250px;
	margin-left: 15px;
	margin-top: 50px;
}

<<<<<<< HEAD
#picture1,#picture2,#picture3,#picture4{
	float:left;
	margin-top:20px;
	padding-right:10px;
	}
=======

>>>>>>> refs/remotes/origin/10130340223
#last,#next{
    float:right;
}
