@charset "utf-8";
/* CSS Document */
#container{
	width:1200px;
	height:675px;
	float:left;
	margin-top: 100px;
}
#send{
	float:left;
	margin-left: 500px;
	margin-top: -250px;
}
#reset{
	float:left;
	margin-left: 700px;
	margin-top: -250px;
}
#email{
	width:800px;
	height:350px;
	float:left;
	margin-left: 250px;
	margin-top: 20px;
    text-align: start;
	color:#000;
}
#text{
	margin-left:450px;
	margin-top: 20px;
	color: #ffffff;
}
