@charset "utf-8";
/* CSS Document */

#container{
    width:1200px;
    height:675px;
    float:left;
}
#words_eclub{
    width:600px;
    height: 100px;
    margin-left:10px;
}
#register{
    width:106px;
    height: 44px;
    margin-left:35px;
    margin-top:0px;
    margin-right: 5px;
    float:left;
}
#login{
    width:106px;
    height: 44px;
    margin-left: 170px;
    margin-top:-43px;
    float:left;
}
#form{
    width:320px;
    height: 370px;
    margin-left: 42%;
    text-align: center;
    margin-top: -150px;
    background-color:#FFF;
}
#words_eclub{
    width:274px;
    height: 64px;
    margin-top: 240px;
    margin-left: 45%;
}

#ueser_name{
    width:60px;
    height:40px;
    margin-top:150px;
    font-family: cursive;
    font-size: 16px;
    color: #080808;
}
#ueser_password{
    width:60px;
    height:40px;
    margin-top:150px;
    color: #080808;
    font-family: cursive;
}

#index_about{
    width:60px;
    height:30px;
    margin-left:1000px;
    margin-top:20px;
    margin-right:50px;
    float:left;
}
#index_contact{
    width:60px;
    height:30px;
    margin-left:20px;
    margin-top:20px;
    float:left;
}
#form_text {
    width: 280px;
    height: 300px;
    margin-left: 20px;
    margin-top: -140px;
}
#test{
    margin-top: 50px;
    margin-left: 30px;
    width:100px;
}
#test_button{
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
}

#text{
    font-size: 15px;
    font-family: 微软雅黑;
    color: #3498db;
}
#text1{
    font-size: 15px;
    font-family: 微软雅黑;
    color: #3498db;
}

#text2{
    font-size: 15px;
    font-family: 微软雅黑;
    color: #3498db;
    float: left;
    margin-left: 16px;
}

#test1{
    margin-top: 50px;
    margin-left: 10px;
    width:100px;
}