@charset "utf-8";
/* CSS Document */


#container{
    width:1200px;
    height:675px;
    float:left;
}
#title{
    width:1200px;
    height:140px;
    float:left;
}
#stuform{
    width:1200px;
    height: 480px;
   float:left
}
#save{

    margin-left: 480px;
    float:left;
}
#reset{

    margin-left:60px;
    float:left;
}
#return{
    
    margin-left:60px;
    float:left;
}

.text{
	width:400px;
    margin-left:200px;
	margin-bottom:10px;
	margin-top:15px;
	color:#FFFFFF;
	font-family: "微软雅黑";
	font-size: 24px;
	float:left;
	
}
.input {
    height: 30px;
    width: 260px;
    border-top: 10px;
    font-size: 22px;
    font-family: "微软雅黑";
    color: #08819c;
}